.category-editor {
  display: flex;

  .category-list {
    width: 200px;
    flex-shrink: 0;

    > li {
      min-height: 40px;

      &:hover {
        background-color: rgba(0, 100, 256, 0.1);
      }
    }
  }
}
