@import "variables";

input, textarea, select {
  outline: none;
}

.form-row {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  > label {
    width: 160px;
    min-height: 40px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }

  .form-data {
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 10px;

    input[type=text],
    input[type=password],
    input[type=number],
    textarea,
    select {
      width: 100%;
      height: 40px;
      padding-right: 8px;
      padding-left: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      background-color: #f8f8f8;

      &:focus {
        background-color: $DEFAULT_BUTTON_BACKGROUND;
        border-color: $DEFAULT_BUTTON_TEXT;
        box-shadow: 0 0 0 6px rgba(180, 222, 255, 0.2);
      }
    }

    textarea {
      min-height: 100px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

button {
  white-space: nowrap;

  &.default {
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
    color: #234771;
    background-color: #a8c5e6;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.switch-form {
  display: flex;
  align-items: center;
  height: 40px;

  > input[type=checkbox] {
    appearance: none;
    width: 37px;
    height: 20px;
    border-radius: 20px;
    border: 1px solid #999;
    background-color: #eee;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;

    &:before {
      display: block;
      margin-left: 1px;
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: #ffffff;
      transition: margin 0.5s;
    }

    &:checked {
      background-color: #0cf;

      &:before {
        margin-left: 18px;
      }
    }
  }
}

.radio-form-group {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 40px;

  > label {
    display: flex;
    align-items: center;

    input[type=radio] {
      appearance: none;
      width: 20px;
      height: 20px;
      margin: 0 5px 0 0;
      border-radius: 20px;
      border: 1px solid #999;

      &:before {
        display: block;
        content: "";
        width: 12px;
        height: 12px;
        margin: 3px;
        border-radius: 12px;
        background-color: #bbb;
      }

      &:checked {
        border: 1px solid #0cf;

        &:before {
          background-color: #00ccff;
        }
      }
    }
  }
}

.input-range-form {
  display: flex;
  height: 40px;
  align-items: center;

  > input[type=range] {
    width: 100%;
  }

  > .count {
    font-weight: bold;
    color: #777;
    margin-left: 10px;
    display: flex;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #eee;
  }
}


.number-stepper {
  display: flex;
  text-align: center;
  width: 160px;

  &.invalidated {
    box-shadow: 0 0 0 6px rgba(255, 180, 220, 0.4);
  }

  button {
    width: 50px;
  }
}
