@import "variables";
// font

// reset
body{
  margin: 0;
}
div, header{
  box-sizing: border-box;
}
// base style
body {
  background-color: $APP_THEME_BACKGROUND_COLOR;
  font-size: $DEFAULT_FONT_SIZE;
}
input[type=text],
input[type=password],
textarea,
select {
  font-size: $DEFAULT_FONT_SIZE;
}


// layout
@import "layout";
// levels
@import "levels";

// typing

// user

// config, app info, etc...
@import "forms";

@import "modal";

//pages
@import "card-item";

@import "index-page";

@import "level-editor";

@import "level-group-modal";


