.welcome{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  .card-wrap{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  .welcome-card-item{
    width: 700px;
    height: 500px;
  }
}