.keyboard {
  .layout {
    fill: #fff;

    rect {
      transition: fill 0.15s;

      &.next-key {
        fill: #DC7CB5;
      }

      &.pressed-key {
        fill: #96CAFF;
      }
    }
  }

  .letter {
    fill: #000;
    line-height: 16px;

    .small-letter {
      font-size: 10px;
      font-weight: bold;
    }
  }
}