.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  display: flex;

  .modal-container {
    margin: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    &.sm {
      min-width: 300px;
      min-height: 160px;
    }
    &.md {
      min-width: 600px;
      min-height: 200px;
    }
    &.lg {
      min-width: 800px;
      min-height: 400px;
    }

    .modal-header {
      height: 40px;
      padding: 10px 20px;
      border-bottom: 1px solid #dddddd;
      display: flex;

      > h3 {
        margin: 0;
        font-size: 16px;
        font-weight: normal;
      }

      > .close-button {
        margin-left: auto;
      }
    }
    .modal-body {
      max-height: calc(100vh - 140px);
      overflow-y: auto;
      padding: 10px 20px;
    }
    .modal-footer {
      height: 60px;
      margin-top: auto;
      padding: 10px 20px;
      border-top: 1px solid #dddddd;
      display: flex;
      justify-content: end;
    }
  }
}