.typing-stage {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  width: 600px;
  min-height: 130px;
  font-size: 32px;

  .text-line {
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3px;
    row-gap: 20px;

    .letter-item {
      display: flex;
      flex-direction: column;
      line-height: 1.4em;

      &.active .typing{
        animation-name: currentText;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }

      @keyframes currentText {
        0% {
          border-color: rgba(220, 124, 181, 1);
        }
        50% {
          border-color: rgba(220, 124, 181, 0);
        }
        100% {
          border-color: rgba(220, 124, 181, 1);
        }
      }

      &.correct .token {
        background-color: #C4F2BD;
      }

      &.incorrect .token {
        background-color: #F8A1AB;
      }

      &.isModify .token {
        background-color: #FFD47E;
      }

      .token {
        color: #666;
        //min-width: 0.325em;
        width: 1em;
        flex-shrink: 1;
        flex-basis: 1.4em;
        border-radius: 5px;
      }

      .typing {
        min-width: 0.325em;
        flex-shrink: 1;
        flex-basis: 1.4em;
        border-bottom: 2px solid transparent;
      }
    }
  }

  .typing-line-highlighter {
    width: 550px;
    height: 50px;
    position: absolute;
    top: 62px;
    font-size: 32px;
    line-height: 46px;
    padding: 3px;
    border: 2px solid #dc7cb5;
    border-radius: 5px;
  }
}